body {
    background-color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: aliceblue;
    width: 1000px;
    max-width: 100%;
    margin: auto;
    padding: 50px;
    box-shadow: 0px 10px 20px powderblue;
    display: grid;
    grid-template-columns: 25% 75%;
    column-gap: 5%;
    row-gap: -10%;

}

.image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 10px 20px powderblue;

}
.image {
    display: flex;
    justify-content: end;
}

ul {
    list-style-type: disc;
}
li {
    list-style-type: none;
}

.name {
    padding-left: 30px;
    border-left: 1px solid black;
}

.name h1 {
    font-weight: 300;
    font-size: xxx-large;
    margin: 0 0 5px;
}

.name .specialize {
    margin: 0;
    font-weight: bold;
    letter-spacing: 3px;
}

.name .contact {
    padding: 0;
    list-style: none;
    
}

.name .contact span {
    display: inline-block;
    background-color: black;
    color:powderblue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font: small;
    margin-right: 20px;
    
}

.name .contact li {
    padding: 5px 0;
    transform: translate(-40px);
    background-color: blush;
    box-shadow: 0px 10px 20px lightcyan;
}

.languages {
    margin-top: 30px;

}

.languages ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* line-height: 30px; */
}

.technologies {
    text-align: right;
}

.technologies h3 {
    margin: 20px 0 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.experience h3 {
    padding-left: 30px;
    margin: 20px 0 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.experience ul{
    padding-left: 30px;
    border-left: 1px solid black;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.description {
    padding: 0;
    margin: 0;
    position: relative;
}

h4 {
    padding: 0;
    margin: 0 0 20px;
}

.technologies ul {
    padding: 0;
    margin: 0;
    list-style: none;
    /* padding-right: 30px;
    border-right: 1px solid black;
    text-align: right; */
    /* line-height: 30px; */
}

.links {
    margin-top: 20px;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightblue;
}

a, span.link {
    color: blue;
  }
  
  a:visited, span.visited {
     color: purple;
  }
  
  a:active, span.active {
     color: red;
  }



.project {
    padding-left: 30px;
    text-align: left;
    border-left: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.project .item {
    margin-top: 2%;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;

}

.proj-tools {
    /* font-style: italic; */
    font-weight: 600;
    font-size: small;
}

/* .links .git {
    color: blue;
    padding: 10px 0;
}
.links .replit {
    font-weight: 500;
    padding: 10px;
}
*/

